.vendor {
  width: 100%;
  float: left;
  padding: 10px;
  margin-top: 10px;
  cursor: pointer;
  background: gainsboro;
}
.vendor:hover{
    box-shadow: 2px 2px 2px grey;
}
.vendor-name {
  width: 20%;
 
  float: left;
  text-align: center;
}
.vendor-image {
  background: grey;
  float: right;
  width: 70%;
  height: 200px;
}
